body {
	padding: 18px;
}

.root {
	border: 1px solid @ControlBorder;
	border-radius: 8px;
}

.frame {
	background-color: @Control;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

.caption {
	background-color: @Control;
	height: 32px;
	display: flex;
	flex-direction: row;
	align-content: center;
	padding: 8px;
}

.content {
	background-color: @Window;
	flex-grow: 1;
}

.footer {
	border-top: 1px solid @ControlBorder;
	padding: 8px;
	display: flex;
}

.button {
	width: 32px;
	height: 32px;
	min-width: 32px;
	min-height: 32px;
	align-self: center;
	border-radius: 4px;
	margin-left: 4px;
}

	.button:hover {
		background-color: @DisabledText/0.3;
	}

	.button:active {
		background-color: @DisabledText/0.7;
	}

.button-glyph {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	margin: 8px;
	opacity: 0.5;
}

.icon-glyph {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	margin: 2px 8px 2px 4px;
	align-self: center;
}

.title {
	font-family: "Segoe UI";
	font-size: 14px;
	font-weight: 400;
	color: #505050;
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-self: center;
}

.action {
	min-width: 80px;
	align-self: center;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

	.action:hover {
		background-color: @DisabledText/0.1;
	}

	.action:active {
		background-color: @DisabledText/0.3;
	}

.action-glyph {
	width: 16px;
	height: 16px;
	min-width: 16px;
	min-height: 16px;
	margin: 4px;
	opacity: 0.5;
}

.action-caption {
	margin: 0 8px 0 0;
}
